.login_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    .login_popup{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5em;
        width: 40em;
        height: 40em;
        background-color: rgb(51,51,51);
        .wordBrand{
            margin-top: 2em;
            color: aliceblue;
        }
        .login_pages_form{
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 80%;
            margin: 2em;
        }
        .submit_login_pages{
            margin: 2em;
        }
    }
    .test_data{
        color: white;
    }
}